@font-face {
  font-family: "Akaya Telivigala";
  src: url("../fonts/AkayaTelivigala-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar-track {
  border: 1px solid 9a00ac;
  background-color: #2b192e;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2b192e;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(180deg, #9a00ac, #5d0068);
}

@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }

  20% {
    transform: translate(-4px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-4px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(0px, 3px) rotate(0deg);
  }

  100% {
    transform: translate(0px, -3px) rotate(-1deg);
  }
}

*{
  font-family: "Akaya Telivigala", cursive;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

header {
  position: relative;
}

.mint {
  min-height: 100vh;
}

.logo {
  padding: 0 10px;
  height: 45px;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 5;
  padding: 0;
  transition: 0.2s;
}

.navbar-nav .nav-link {
  position: relative;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.navbar-nav .nav-link:hover:after {
  background: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.responsive-nav {
  width: 100vw;
  position: relative;
  z-index: 4;
}

.responsive-navbar-nav {
  list-style-type: none;
  position: fixed;
  left: 0px;
  top: 55px;
  background-color: #5d0068;
  width: 100vw;
  display: none;
}

.responsive-navbar-nav li {
  border-top: 1px solid whitesmoke;
}

.home {
  background-image: url("../img/home-background1-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-image {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  filter: drop-shadow(9px 14px 13px #000);
}

.levels {
  background-color: #2b192e;
  padding: 0 100px;
}

.level-box img {
  border: 2px solid #9800a8;
  width: 100%;
  border-radius: 10%;
  filter: drop-shadow(2px 0px 6px #272727);
}

.contract-address p {
  width: 90%;
  text-align: center;
  border-right: 2px dotted #5d0068;
}

.contract-address {
  background-color: #9a00ac;
  padding: 10px 20px;
  border-radius: 30px;
  filter: drop-shadow(9px 14px 13px #000);
}

.tombstones img {
  width: 100%;
  animation: none;
  filter: drop-shadow(6px -4px 10px #000);
}

.tombstones img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.transition {
  height: 250px;
}

.box {
  height: 80px;
  background-color: black;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.2s;
  filter: drop-shadow(13px 4px 10px #000);
}

.box:hover{
  cursor: pointer;
}

.box img{
  width: 25px;
  height: 25px;
}

.discord:hover {
  background-color: #5865f2;
}

.twitter:hover {
  background-color: #00cbff;
}

.instagram:hover {
  background-color: #bc2a8d;
}

.telegram:hover {
  background-color: #229ed9;
}

.reddit:hover {
  background-color: #ff4500;
}

.opensea:hover {
  background-color: #2081e2;
}

.mint-glow {
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  background: rgb(93, 0, 104);
  height: 40%;
  width: max-content;
  border-radius: 20px;
  margin-top: 5px;
  align-self: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.mint-glow::before {
  content: "";
  background: linear-gradient(45deg, #9a00ac, #5d0068, #00cbff, #9a00ac);
  position: absolute;
  top: -10px;
  left: -10px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  -webkit-animation: glowing 20s linear infinite;
  -moz-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.mint-glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(93, 0, 104);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.mint-glow:hover:after {
  background: transparent;
}

.mint-glow:hover:before {
  opacity: 1;
}

/* //////////////////////////////////////////////////////////////// */

.token-page-button-container {
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  background: rgb(93, 0, 104);
  height: 50px;
  width: max-content;
  border-radius: 20px;
  margin-top: 5px;
  align-self: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.token-page-button-container::before {
  content: "";
  background: linear-gradient(45deg, #d5194b, #eb628c, #f2376e, #f21c58);
  position: absolute;
  top: -10px;
  left: -10px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  -webkit-animation: glowing 20s linear infinite;
  -moz-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.token-page-button-container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(93, 0, 104);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.token-page-button-container:hover:after {
  background: transparent;
}

.token-page-button-container:hover:before {
  opacity: 1;
}

.token-page-button-container a {
  width: 200px;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
}

.glow-on-hover {
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  background: #111111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover::before {
  content: "";
  background: linear-gradient(45deg, #9a00ac, #5d0068, #00cbff, #9a00ac);
  position: absolute;
  top: -10px;
  left: -10px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  -webkit-animation: glowing 20s linear infinite;
  -moz-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.glow-on-hover:hover:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.about {
  background-color: #2b192e;
  min-height: calc(100vh - 72px);
}

.stats {
  background-color: black;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.2s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  align-items: flex-start;
  margin-bottom: 12px;
  transition: all 0.5s ease;
}

.roadmap {
  background-color: #5d0068;
}

.milestone-stages {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 0;
}

.milestone-stages::after {
  content: "";
  width: 100%;
  height: 10px;
  left: 0;
  top: 20px;
  position: absolute;
  background-color: #2b192e;
  border-radius: 15px;
}

.milestones {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #9a00ac;
  filter: drop-shadow(4px 8px 5px rgba(0, 0, 0, 0.7));
  text-align: center;
  transition: 0.1s;
}

.milestones:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.active-milstone {
  transform: scale(1.2);
}

.milestones a {
  color: white;
  line-height: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.milestone-paging {
  height: 200px;
}

.milestone-paging .tab-pane {
  color: white;
  width: 50vw;
  border: 1px solid #2b192e;
  padding: 25px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #2b192e;
  text-align: center;
  filter: drop-shadow(9px 14px 13px rgba(0, 0, 0, 0.7));
}

.mySwiper1 .swiper-slide {
  color: white;
  width: 50vw;
  border: 1px solid #2b192e;
  padding: 25px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #2b192e;
  text-align: center;
  filter: drop-shadow(9px 14px 13px rgba(0, 0, 0, 0.7));
  margin-top: 10px;
}

.mySwiper1 .swiper-slide h3 {
  color: white;
}

.mySwiper1 .swiper-pagination-progressbar-fill {
  background: linear-gradient(90deg, #9a00ac, #5d0068);
}

.milestone-paging h3 {
  color: white;
  text-align: center;
}

.navbar-toggler {
  color: white;
  background-color: #9a00ac;
}

.sidebar {
  display: none;
  background-color: black;
  position: fixed;
  right: -40px;
  top: 72px;
  z-index: 5;
  transition: 0.2s;
}

#faq {
  background-color: #5d0068;
}

.faq-text {
  background-color: transparent;
}

.faq-question {
  outline: none;
  width: 100%;
  font-size: 26px;
}

.faq-question:hover {
  color: white;
}

.faq-container {
  border-bottom: rgba(245, 245, 245, 0.445) solid 1px;
}

#team {
  background-color: #2b192e;
}

.team-card {
  background-color: #9a00ac;
  padding: 0;
  border-radius: 20px;
  border: #5e006875 solid 1px;
  font-size: 20px;
  border-top: 1px solid #5d0068;
  /* filter: drop-shadow(9px 14px 13px #000); */
}

.team-card-image {
  position: relative;
}

.team-card-image::after {
  height: 100%;
  width: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.2s;
  opacity: 0;
}

.team-card .card-body {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.mySwiper3 {
  width: 100%;
  display: none;
}

.mySwiper3 .swiper-button-prev,
.mySwiper3 .swiper-button-next {
  color: #9a00ac;
}

.textincard {
  height: auto;
  width: 80%;
  position: relative;
}

.mailbox {
  height: auto;
  width: 10%;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.fa-envelope {
  width: 30px;
  height: 30px;
  color: #ec45ff;
  position: relative;
  z-index: 3;
}

.fa-envelope:hover {
  transform: scale(1.3);
  transition: 0.2s;
}

.team-card-image:hover .personimg {
  opacity: 1;
}

.team-card-image:hover::after {
  opacity: 1;
}

.personimg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  transition: 0.2s;
  opacity: 0;
  width: 100%;
}

.personimg img {
  width: 100%;
}

.team-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-sec-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}

.roadmap-box {
  border: 1px solid white;
  border-radius: 20px;
  height: 100%;
}

.roadmap-box li {
  color: white;
}

.roadmap-title {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
}

.roadmap-description {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
}


#Modal {
  margin: calc(50vh - 150px) auto;
}

#WalletModal{
  margin: calc(50vh - 250px) auto;
}

.modal-content {
  box-shadow: 0 0 10px #a100b3;
  background-color: #9a00ac;
  position: relative;
  border: none;
  border-radius: none;
}

.modal-content label,
input,
h5 {
  color: white;
}

.modal-content button {
  background-color: #5d0068;
  border: 1px solid #5d0068;
}

.modal-content button:focus {
  box-shadow: 0 0 0 0.25rem #5e00687a;
}

.modal-content button:active {
  background-color: #45004d;
  border: 1px solid #5d0068;
}

.modal-content button:active:focus {
  box-shadow: 0 0 0 0.25rem #5e00687a;
}

.modal-content button:hover {
  background-color: #45004d;
  border: 1px solid #5d0068;
}

.modal-header {
  padding-bottom: 6px;
}

.modal-title {
  font-size: 26px;
  color: white;
}

.modal-subtitle {
  font-size: 18px;
}

.bluredbackground {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  width: 100px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  background-color: #5d0068;
  border: 1px solid #5d0068;
}

.btn:focus {
  box-shadow: none;
}

.input-form {
  width: 100%;
  border-radius: 0.25rem;
}

.input-form:focus-within {
  box-shadow: 0 0 0 0.25rem #5e00687a;
}

footer {
  background-color: #463249;
}

.games {
  height: 40vh;
  transition: 0.2s;
  position: relative;
}

.games a::after {
  position: absolute;
  content: "Coming Soon!";
  /* line-height: 100%; */
  text-align: center;
  transform: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50px);
  color: white;
  font-size: 50px;
  opacity: 0;
}

.games img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: 0.2s;
  border-radius: 30px;
  filter: drop-shadow(9px 14px 13px #000);
}

.games:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.games:hover .games-img:after {
  opacity: 1;
}

.mint-container {
  min-height: 80vh;
  background-color: #45004d;
  border-radius: 40px;
  filter: drop-shadow(9px 14px 13px #000);
  padding: 20px;
}

.mint-img .swiper-container {
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  filter: drop-shadow(9px 14px 13px rgba(0, 0, 0, 0.5));
}

.mint-img .swiper-container:after {
  content: "";
  width: 200%;
  height: 200%;
  display: block;
  z-index: -1;
  position: absolute;
  top: -50%;
  right: -50%;
  background-image: linear-gradient(45deg, #9a00ac, #5d0068, #ffe27d);
  animation: rotate-gradient 8s linear infinite;
}

.mint-img .mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: calc(80vh - 40px);
}

.mint-img .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.mint-img .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  filter: drop-shadow(9px 14px 13px #000);
}

.mint-img .swiper-pagination-bullet {
  background-color: #ffffff;
}

.mint-img .swiper-slide-shadow-left {
  opacity: 0 !important;
}

.mint-img .swiper-slide-shadow-right {
  opacity: 0 !important;
}

.mint-buttons {
  min-height: calc(80vh - 40px);
}

.purchase-tslt {
  width: 80%;
}

.social-small {
  z-index: 4;
  display: none;
}

.social-small .col-4 {
  font-size: 20px;
  transition: 0.2s;
  background-color: black;
  width: 48px;
  height: 48px;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
}

.social-small .col-4 a {
  display: block;
  text-align: center;
}

.social-small .col-4 a i {
  line-height: 48px;
  text-align: center;
}

.social-small .col-4:hover {
  transform: scale(1.2);
}

.social {
  z-index: 4;
}

.social div {
  font-size: 20px;
  transition: 0.2s;
  border: 1px solid white;
  width: 48px;
  height: 48px;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
}

.social div a {
  display: block;
  width: 48px;
  height: 48px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social div:hover {
  transform: scale(1.2);
}

.tournaments {
  min-height: calc(100vh - 128px);
}

.tokendown {
  display: none;
}

.lol-sm {
  display: none;
}

.token-text {
  color: white;
  background-color: #9b00acd9;
  border: 1px solid black;
  border-radius: 20px;
  filter: drop-shadow(8px 15px 11px #272727);
}

.token-vid {
  filter: drop-shadow(8px 15px 11px #272727);
}

.token-swiper .card {
  background-color: #9a00ac;
  border-radius: 10px;
  filter: drop-shadow(8px 15px 11px #272727);
  position: relative;
}

.token-update {
  background-color: #5d0068;
}

.token-update .card {
  background-color: #9a00ac;
  border-radius: 10px;
  filter: drop-shadow(8px 15px 11px #272727);
  position: relative;
}

.token-update .card-title,
.card-text {
  color: white;
}

.token-update .card-subtitle {
  color: rgb(207, 207, 207);
}

.token-update .card-link {
  color: white;
}

.token-update .card-contanier {
  margin: 0 auto;
}

.token-purchase-button-container {
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
  background: rgb(93, 0, 104);
  height: 35px;
  width: max-content;
  border-radius: 20px;
  margin-top: 5px;
  align-self: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.token-purchase-button-container::before {
  content: "";
  background: linear-gradient(45deg, #d5194b, #eb628c, #f2376e, #f21c58);
  position: absolute;
  top: -10px;
  left: -10px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  -webkit-animation: glowing 20s linear infinite;
  -moz-animation: glowing 20s linear infinite;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.token-purchase-button-container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(93, 0, 104);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.token-purchase-button-container:hover:after {
  background: transparent;
}

.token-purchase-button-container:hover:before {
  opacity: 1;
}

.token-purchase-button-container a {
  width: 200px;
  line-height: 35px;
  font-weight: bold;
  font-size: 16px;
}

.tokenomics {
  background-color: #2b192e;
}

table {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: #20262e;
  color: #fff;
  overflow: hidden;
}

table tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

table th,
table td:before {
  color: #ec45ff;
  font-size: 20px;
}

table th {
  display: none;
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}

table td {
  display: block;
  font-size: 90%;
  color: white;
  font-size: 17px;
}

table td:first-child {
  padding-top: 0.5rem;
}

table td:last-child {
  padding-bottom: 0.5rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 5rem;
  display: inline-block;
}

.table-3 table {
  background-color: rgb(46, 53, 62);
  filter: drop-shadow(9px 14px 13px #000);
}

.table-3 table tr:nth-child(even) {
  background-color: transparent;
}

.table-3 table td:before {
  width: 100%;
  font-weight: normal;
  opacity: .8;
}

.table-3 table td {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
  font-weight: bold
}

.table-3 table tr td:first-child {
  background-color: #20262e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table-3 table tr td:last-child {
  padding-bottom: 1.5rem;
  border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.table-3 table tr:last-child td:last-child {
  border-bottom: none;
}

.token-description{
  background-color: #9a00ac;
}

.chart-cont{
  height: calc(100% + 100px);
}
@media (min-width: 600px) {
  table td:before {
    display: none;
  }

  table th,
  table td {
    display: table-cell;
  }

  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }

  .table-3 table {
    background-color: #5d0068;
  }

  .table-3 table tr:nth-child(even) {
    background-color: #9a00ac;
  }

  .table-3 table td {
    margin: .5rem 2rem;
    padding: 1.5rem 2rem;
    font-weight: normal
  }

  .table-3 table tr td:first-child {
    background-color: transparent;
  }

  .table-3 table tr td:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    display: none;
  }

  .whitepaper {
    display: block;
  }

  .blank-card {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .whitepaper {
    display: none;
  }

  .blank-card {
    display: block;
  }

  .responsive-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .milestonz {
    display: block;
  }

  .mySwiper1 {
    display: none;
  }

  .token-swiper {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .token-swiper {
    display: block;
  }

  .milestonz {
    display: none;
  }

  .mySwiper1 {
    display: block;
  }

  .social-big {
    display: none;
  }

  .social-small {
    display: flex;
  }

  .humanoid-text {
    display: none;
  }

  .tokendown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
  }

  .tokenup {
    display: none;
  }

  .games a::after {
    font-size: 30px;
    transform: translate(-50%, -30px);
  }

  .card-contanier {
    display: none;
  }

  .team-container {
    display: none;
  }

  .mySwiper3 {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .mint-img .swiper-container {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .lol-lg {
    display: none;
  }

  .lol-sm {
    display: inline;
  }
}


@media screen and (max-width: 500px) {
  .contract-address p {
    inline-size: 90%;
    overflow-wrap: break-word;
  }

  .social {
    display: none !important;
  }
}


@media screen and (max-width: 450px) {
  h1 {
    font-size: 50px;
  }

  .logo {
    padding: 10px 10px;
    height: 45px;
  }

}